html {
  text-align: center;
  background-color: #f2f2f2;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h1 {
  display: inline-block;
  margin: 1rem;
  cursor: pointer;
}

h1 .small-text {
  display: none;
}

.active {
  color: #206632;
}

.assignment-section {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  width: 85%;
  margin: auto;
  height: 550px;
}

.assignment-section h5 {
  font-size: 16px;
}

.assignment-section .sentence-space {
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.assignment-section .sentence-space .answer-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.assignment-section .sentence-space .answer-input {
  font-size: 0.85rem;
  width: 23.4rem;
  margin: 0 8px;
  text-align: center;
  border: none;
  border-bottom: 1.5px dotted black;
  outline: none;
  background-color: transparent;
}

.assignment-section .sentence-space .answer-input::before {
  content: "There";
  color: black;
  background-color: red;
  width: 100%;
  height: 100%;
}

.assignment-section .sentence-space .story-space {
  padding: 0 5px;
}

.assignment-section .buttons-space {
  height: 120px;
  margin-bottom: 2rem;
}

.assignment-section .buttons-space button {
  margin: 10px 20px;
  width: 6.3rem;
  font-size: 1.1rem;
  height: 2.35rem;
  border-radius: 12px;
  cursor: pointer;
}

.assignment-section .buttons-space button:focus {
  outline: none;
}

.assignment-section .buttons-space .check {
  background-color: #41d437;
}

.assignment-section .buttons-space .check:active {
  background-color: #2b9124;
}

.assignment-section .buttons-space .next {
  background-color: #3baacc;
}

.assignment-section .buttons-space .next:active {
  background-color: #0083ab;
}

.assignment-section .buttons-space .dont-know {
  background-color: red;
  font-size: 0.9rem;
}

.assignment-section .check-answer-true {
  display: none;
  margin: 1rem auto;
  border-color: #009933;
  border-style: solid;
  border-width: 0 0.3rem 0.25rem 0;
  height: 2.2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 1rem;
}

.assignment-section .check-answer-wrong {
  display: none;
  margin: 1rem auto;
  border-color: red;
  border-style: solid;
  border-width: 0.26rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
}

.assignment-section .check-answer-wrong div {
  border-bottom: 3px solid red;
  width: 100%;
  display: inherit;
}

.assignment-section .check-answer-wrong div:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 1rem;
}

.assignment-section .check-answer-wrong div:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: 0.8rem;
}

.assignment-section .correct-answer-space .correct-answer {
  display: none;
  white-space: pre;
  overflow: auto;
}

.assignment-section .award {
  display: none;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 570px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  z-index: 99;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.assignment-section .award img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.assignment-section .award h2 {
  font-size: 1.4rem;
  margin: 0.5rem;
}

.assignment-section .countdown {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 80%;
  left: 48%;
}

.countdown-story-mode {
  top: 136% !important;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

#link-dict {
  display: none;
  position: absolute;
  left: 47%;
  top: 500px;
}

.skip-story-button, .reverse-story-button {
  display: none;
  margin: 1rem auto auto auto;
  border-radius: 12px;
  background-color: #9d04c7;
  font-size: 0.75rem;
  width: 5rem;
  color: white;
  line-height: 1.3rem;
  cursor: pointer;
}

.skip-story-button:focus, .reverse-story-button:focus {
  outline: none;
}

.skip-story-button:disabled, .reverse-story-button:disabled {
  opacity: 0.4;
  cursor: default;
}

.restart-answers {
  border-radius: 12px;
  background-color: #c900ff;
  font-size: 0.75rem;
  width: 5rem;
  position: relative;
  left: 43%;
  top: 20px;
  cursor: pointer;
}

.restart-answers:focus {
  outline: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 95;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.short-input {
  width: 4rem !important;
}

.story-div {
  display: inline;
  line-height: 2rem;
}

.more-height-large {
  height: 1100px !important;
}

.more-height-small {
  height: 820px !important;
}

hr {
  margin: 1rem;
}

.wrong-story-answer {
  color: red;
  border-bottom-color: red;
}

@media screen and (max-width: 878px) {
  .assignment-section {
    width: 95%;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 14px;
  }
  body {
    margin: 0;
  }
  h1 .big-text {
    display: none;
  }
  h1 .small-text {
    display: inline;
  }
  .restart-answers {
    left: 37%;
  }
  .assignment-section {
    height: 600px;
  }
  .assignment-section .buttons-space {
    margin-bottom: 6rem;
  }
  .assignment-section .award {
    width: 430px;
  }
  .more-height {
    height: 1100px !important;
  }
}

@media screen and (max-width: 483px) {
  .assignment-section .award {
    width: 320px;
  }
  .assignment-section .countdown {
    top: 93%;
  }
  .more-height {
    height: 1400px !important;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
  .assignment-section {
    width: 100%;
    height: 550px;
  }
  .assignment-section .award {
    width: 300px;
  }
  .assignment-section .countdown {
    top: 83%;
  }
  .more-height {
    height: 1200px !important;
  }
  #h1-tab-transformations,
  #h1-tab-story,
  #h1-tab-dictionary {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */